/*Segment Colors
lightest green: #93C8A2
light green: #52BD96
medium green: #398A75
dark greeen: #12434A
gray green: #819BA0
cream: #F6F4EB
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/*Background + Dividers*/
body {
  background-color:#52BD96;
  width: 350px;
}

.wrapper {
  width: 95%;
  margin: auto;
}

#divider {
  height: 45px;
}

/* Style the buttons that are used to open the tab content */
.tabbutton {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  background-color: #F6F4EB;
  width: 66.5px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  height: 45px;
  color: #12434A;
}

.tabbutton:focus{
  background-color: white;
}

/* Change background color of buttons on hover */
.tabbutton:hover {
  background-color: white;
  
}

/* Create an active/current tablink class */
.active{
  background-color: black;
}

/* Style the tab content */
.tabcontent {
  background-color:white; 
  display: none;
  padding: 6px 20px;
  border-top: none;
}

/*Style the background of the calls */
code {
  background-color: #F6F4EB;
  padding: 15px;
  border-radius: 3px;
  display: block;
  
}

/*Style the copy buttons*/
.copybutton {
  background-color: #93C8A2;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 49%;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: white;
}

.copybutton:hover{
  background-color:#52BD96;
}

/*links tab styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.linkul li a {
  border: 1px solid white; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #93C8A2; 
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  color: white; 
  display: block; /* Make it into a block element to fill the whole list */
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: center;
}

.linkul li a:hover {
  background-color: #52BD96; 
}

/*All font Styling*/

h3, h3 a{
  color: #12434A;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  text-decoration: none;
}

/*this lets the header links be centered*/
.headerlink {
  text-align: center;
}


/*DEPRECATED - tooltip styling*/
    /* Tooltip container */
    .tooltip {
      position: relative;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 200px;
      top: 100%;
      left: 50%;
      margin-left: -50px;
      background-color:#398A75;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      font-family: 'Lato', sans-serif;
    
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }

    /*Add arrow to the tooltip*/
    .tooltip .tooltiptext::after {
      content: " ";
      position: absolute;
      bottom: 100%;  /* At the top of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #398A75 transparent;
    }
    
    

/*scrollbar styling*/
    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #52BD96;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #12434A ;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #819BA0;
    }