/*Segment Colors
lightest green: #93C8A2
light green: #52BD96
medium green: #398A75
dark greeen: #12434A
gray green: #819BA0
cream: #F6F4EB
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/*Background + Dividers*/
body {
  background-color:#52BD96;
  width: 370px;
}

.wrapper {
  width: 95%;
  margin: auto;
}

#divider {
  height: 45px;
}

/* Style the buttons that are used to open the tab content */
.tabbutton {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  background-color: #F6F4EB;
  width: 70.3px;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  height: 45px;
  color: #12434A;
}

.tabbutton:focus{
  background-color: white;
}

/* Change background color of buttons on hover */
.tabbutton:hover {
  background-color: white;
  
}

/* Create an active/current tablink class */
.active{
  background-color: black;
}

/*searchbar styling*/
#searchbar-wrapper {
  background-color: white;
}

#searchbar {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  margin-top: 15px;
  margin-left: 6%;
  width: 81%;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
}

#searchbar:focus {
  outline: none;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}
/* Style the tab content */
.tabcontent {
  background-color:white; 
  display: none;
  padding: 6px 20px;
  border-top: none;
}

/*Style the Android/iOS toggle*/
#switch-field {
	display: flex;
	margin-bottom: 36px;
  overflow: hidden;
  margin-top: 10px;
}

#switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

#switch-field label {
  background-color: #e4e4e4;
  width: 122px;
	color:#12434A;
	font-size: 15px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  font-family: 'Source Sans Pro', sans-serif;
}

#switch-field label:hover {
	cursor: pointer;
}

#switch-field input:checked + label {
  background-color:#ADE2BC;
	box-shadow: none;
}

#switch-field label:first-of-type {
	border-radius: 2px 0 0 2px;
}

#switch-field label:last-of-type {
	border-radius: 0 2px 2px 0;
}

#ios-display {
  display: none;
}

/*Server Switchfield, no this isn't DRY*/
#switch-fieldServer {
	display: flex;
	margin-bottom: 36px;
  overflow: hidden;
  margin-top: 10px;
}

#switch-fieldServer input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

#switch-fieldServer label {
  background-color: #e4e4e4;
  width: 122px;
	color:#12434A;
	font-size: 15px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  font-family: 'Source Sans Pro', sans-serif;
}

#switch-fieldServer label:hover {
	cursor: pointer;
}

#switch-fieldServer input:checked + label {
  background-color:#ADE2BC;
	box-shadow: none;
}

#switch-fieldServer label:first-of-type {
	border-radius: 2px 0 0 2px;
}

#switch-fieldServer label:last-of-type {
	border-radius: 0 2px 2px 0;
}

#java-display {
  display: none;
}

/*Style the background of the calls */
code {
  background-color: #F6F4EB;
  padding: 15px;
  border-radius: 3px;
  display: block;
  
}

/*Style the copy buttons*/
.copybutton {
  background-color: #93C8A2;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 49%;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: white;
}

.copybutton:hover{
  background-color:#52BD96;
}

/*links tab styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.linkul li a {
  border: 1px solid white; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #93C8A2; 
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  color: white; 
  display: block; /* Make it into a block element to fill the whole list */
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: center;
}

.linkul li a:hover {
  background-color: #52BD96; 
}


/*All font Styling*/

h3, h3 a{
  color: #12434A;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  text-decoration: none;
}

/*this lets the header links be centered*/
.headerlink {
  text-align: center;
}


/*DEPRECATED - tooltip styling*/
    /* Tooltip container */
    .tooltip {
      position: relative;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 200px;
      top: 100%;
      left: 50%;
      margin-left: -50px;
      background-color:#398A75;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
      color: #fff;
      text-align: center;
      padding: 5px;
      border-radius: 6px;
      font-family: 'Lato', sans-serif;
    
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }

    /*Add arrow to the tooltip*/
    .tooltip .tooltiptext::after {
      content: " ";
      position: absolute;
      bottom: 100%;  /* At the top of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #398A75 transparent;
    }
    
    

/*scrollbar styling*/
    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #52BD96;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #12434A ;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #819BA0;
    }